#welcome-section{
        height: 80vh;
        width: 100vw;
        background-color: #197033;
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#navbar {
    
    width: 100%;
    top: 0;
    left: 0;
    background-color: aqua;
    color: red;
    padding: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    h1 {
        top: -20;
        color: red;
    text-align: centered;
    font-size: auto;
    font-family: Verdana;
    }
    p {
        top: 20;
        color: blue;
        text-align: centered;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif
    }
    .project-title {
     color: yellow;
    font-size: 20px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    }
    abbr {
        color: chocolate;
    }

    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        padding-right: 2vw;
        height: 100%;
        width: 25vw;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      header {
        width: 100vw;
        background-color:  #25274d;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-end;
        border-bottom: 2px groove black;
        box-shadow: 0 0 10px #9ebaed;
        z-index: 15;
        position: fixed;
      }
      .nav-link  a {
        font-size: 2rem;
        font-family: Helvetica;
        display: block;
        color: white;
        text-decoration: none;
        padding: 1rem;
      }
    
    @media (hover: hover) {
        abbr:hover {
            color: limegreen;
            transition-duration: 1s;
        }
    }
    
    @media not all and (hover: hover) {
        abbr::after {
            content: ' (' attr(title) ')';
        }
    }
    
      #subtitle {
        font-size: 3rem;
        font-family: Tahoma;
        font-style: italic;
        color: rgb(22, 21, 20);
        margin-top: 1rem;
      }
      img {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 4rem;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
    .image {
        display: block;
        width: 100%;
        height: auto;
      }
    
      .project-tile:hover span{
        opacity: 1;
      }

    span {
        opacity: 0;
        color: orangered;
        transition: 0.5s;
        height: 2rem;
      }
      h2{
        text-align: center;
      }
      
      
      div.grid{
        background-color: aquamarine;
      }
      .container {
        position: relative;
      }
      .text-block {
        bottom: 20px;
        right: 20px;
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        
      }
